* {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  text-align: left;
}
.aboutBookSection {
  width: 80%;
  margin: 0 auto;
}
.aboutBook {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  gap: 60px;
}
.aboutBookLeftside {
  display: flex;
  flex-direction: column;
}
.backBtn {
  background-color: var(--btn-background-color);
  box-shadow: var(--btn-shadow-color);
  transition: 0.5s;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 10px 36px 10px 12px;
  margin-bottom: 20px;
}
.backBtn a {
  font-weight: 900;
  font-size: 12px;
  color: var(--btn-text-color);
  text-decoration: none;
}
.backBtn:hover {
  transform: var(--btn-scale);
}
.yearBox {
  font-size: 12px;
  font-weight: 900;
  color: white;
  background-color: rgba(47, 128, 237, 1);
  border-radius: 5px;
  padding: 7px 20px;
  width: max-content;
  margin-top: 60px;
}
h1 {
  font-size: 35px;
  font-weight: 700;
  line-height: 68.67px;
}
h2 {
  font-size: 16px;
  font-weight: 700;
  line-height: 31.39px;
}
.author {
  font-size: 22px;
  font-weight: 400;
  line-height: 43.16px;
}
.description {
  font-size: 18px;
  font-weight: 400;
  line-height: 35.31px;
}
.newSign {
  color: white;
  background-color: rgba(235, 87, 87, 1);
  font-size: 12px;
  font-weight: 900;
  line-height: 23.54px;
  padding: 7px 30px;
  width: max-content;
  border-radius: 4px;
  position: absolute;
  right: 18px;
  top: 0;
}
.aboutBookRightside {
  position: relative;
}
.commentSection {
  width: 80%;
  margin-top: 50px;
  margin: 0 auto;
}
.commentInput {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.15);
  width: 100%;
}

.sendBtn {
  border: none;
  border-radius: 5px;
  padding: 10px 9px 6px;
  width: 60px;
  height: 60px;
  background-color: var(--btn-background-color);
  box-shadow: var(--btn-shadow-color);
  transition: 0.5s;
  cursor: pointer;
}
.sendBtn:hover {
  transform: var(--btn-scale);
}
.commentAddImage {
  padding: 7px;
}
.inputLine {
  display: flex;
  width: 50%;
}
.commentBox {
  width: 50%;
}
.commentBox {
  padding: 20px 20px;
  border: none;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.15);
  margin-bottom: 50px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.commentHeader {
  display: flex;
  gap: 28px;
}
.anonimName {
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .aboutBook {
    flex-direction: column-reverse;
  }
  .bookInformation h1,
  h2,
  p {
    text-align: center;
  }
  .inputLine,
  .commentInput,
  .commentBox {
    width: 100%;
  }
  .aboutBookImage {
    width: 100%;
  }
  .commentBox p {
    text-align: left;
  }
}
