* {
  margin: 0;
  padding: 0;
}
.chooseBar {
  width: 80%;
  margin: 0 auto;
  display: flex;
  text-align: center;
  align-content: center;
  margin-bottom: 100px;
}
.overflow-x-auto {
  width: 50%;
  overflow: auto;
  margin: 0 auto;
}
.categoriesNames {
  width: 50%;
  margin: 0 auto;
  display: flex;
  gap: 60px;
  align-items: center;
}
.categoriesNames a {
  text-decoration: none;
}
.categorySliderSide {
  width: 80%;
  margin: 0 auto;
  display: flex;
  gap: 30px;
  align-items: center;
}
.card {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  gap: 30px;
  border-radius: 5px;
}
.card-img-top {
  margin: 0 auto;
  position: relative;
}
.ifBookNewSign {
  position: absolute;
  /* top: 0px;
  right: 0px; */
}
.btn-primary {
  text-align: center;
  text-decoration: none;
  background-color: rgba(225, 106, 0, 1);
  padding: 10px 28px;
  border-radius: 5px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 900;
  line-height: 23.54px;
  color: white;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.15);
}
.card-body {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: center;
}
.card-text {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 23.54px;
  text-align: left;
}
.bookSlideLine {
  width: 100%;
  display: flex;
  gap: 62px;
}
::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}