* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family-general);
}
body,
html {
  background-color: #fffaf5;
}

.customAlertBox {
  position: absolute;
  display: block;
  top: -100px;
  z-index: 1000;
 left: 30%;
 right: 30%;
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px;
  transition: 0.5s;
  background: #155724;
  color: #ffffff;
  border-color: #c3e6cb;
}

.alertActive {
  top: 100px;
  width: 40%;
  position: absolute;
  cursor: var(--cursor);
  transition: 0.5s;
  font-size: 17px;
  font-weight: 700;
  padding-right: 10px;
}

.alertErr {
  background: #721c24;
  color: #ffffff;
  margin: 0px auto;
}
.navSection {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #fffaf53d;
  backdrop-filter: blur(5px);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
  width: 80%;
  margin: 0 auto;
  font-family: var(--font-family-general);
}

.navUl {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 20px;
}

.hamburger {
  display: none;
}

.navClose {
  display: none;
}

.navUl li a {
  text-decoration: none;
  color: rgba(36, 20, 0, 1);
  font-weight: 400;
  font-size: 14px;
  transition: all 0.3s ease;
}

.navUl li a:hover {
  text-decoration: underline;
  color: rgba(36, 20, 0, 1);
}

.active {
  color: rgba(225, 106, 0, 1) !important;
  text-decoration: underline !important;
}

.joinUs {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  cursor: var(--cursor);
}

.mobileLinks {
  display: none;
}

/* join us container */

.joinUsContainer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  display: none;
  position: fixed;
  cursor: var(--cursor);
  transition: 0.5s;
}

.joinUsForm {
  background-color: rgba(255, 255, 255, 1);
  padding: 35px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 40%;
  position: relative;
}

.joinInput {
  width: 100%;
  outline: none;
  height: 74px;
  margin-bottom: 34px;
  border: 1px solid #cecece;
  font-size: 20px;
  padding-left: 54px;
}

.joinBtn {
  background-color: var(--btn-background-color);
  color: var(--btn-text-color);
  width: 100%;
  padding: 20px 30px;
  cursor: var(--cursor);
  transition: 0.5s;
  border: var(--input-border);
  padding: 22px 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  text-align: center;
}

.joinTitle {
  font-size: 44px;
  font-weight: 700;
  text-align: center;
  line-height: 53.5px;
  padding: 25px;
  color: #000000;
}

.joinCloseBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 48px;
  cursor: var(--cursor);
}

@media screen and (max-width: 768px) {
  .joinUs {
    display: none;
  }

  .navUl {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: -100vh;
    bottom: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: right;
    display: flex;
    padding-top: 50px;
    gap: 20px;
    z-index: 100;
    flex-direction: column;

    cursor: var(--cursor);
    transition: 0.5s;
    font-size: 17px;
    font-weight: 700;
    padding-right: 10px;
  }

  .navClose {
    display: block;
    color: #fffaf5;
    font-size: 32px;
    margin-bottom: 50px;
  }

  .navUl li a {
    color: #fffaf5;
  }

  .navbar {
    width: 95%;
  }
  .hamburger {
    display: block;
    cursor: var(--cursor);
    font-size: 32px;
  }

  .footerLinkSection {
    display: none !important;
  }

  .footerInner {
    padding: 10px !important;
    flex-direction: column;
    width: 95%;
  }

  .mobileLinks {
    display: flex;
    flex-direction: row;
  }

  .footerUl {
    display: flex;

    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
    font-size: 12px;
  }

  .footerUl a {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
  }

  .joinUsForm {
    width: 90%;
  }
}
