
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
/* preahvihear font */
@import url('https://fonts.googleapis.com/css2?family=Preahvihear&display=swap');

:root{
    --btn-background-color: rgba(225, 106, 0, 1);
    --btn-text-color: white;
    --btn-shadow-color: 0px 5px 15px rgb(225, 106, 0.35);
    --btn-scale: scale(1.03)
}


body{
    background-color: #fffaf5;
    scroll-behavior: smooth;
}