.mainSection {
  display: flex;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  gap: 76px;
}

/*& LEFT */

.leftDiv {
  display: flex;
  flex-direction: column;
  gap: 44px;
  /* padding-top: 134px; */
  padding-top: 13%;
}

.leftDiv h1 {
  font-size: 36px;
  font-weight: 700;
}

.leftDiv input {
  width: 370px;
  height: 60px;
  border: 1px solid darkgrey;
  border-radius: 4px;
  font-size: 23px;
  font-weight: 400;
  padding-left: 27px;
}

.leftDiv button {
  width: 370px;
  height: 60px;
  background-color: #e16a00;
  border: 0px;
  border-radius: 5px;
  font-size: 30px;
  font-weight: 100;
  color: white;
  align-items: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  cursor: pointer;
}

/*& RIGHT */

.bookImg {
  width: 220px;
  height: 450px;
  /* padding-left: 40px; */
}

.textDiv {
  display: flex;
  flex-direction: column;
  gap: 15px;
  /* align-items: center; */
}

.textDiv h2 {
  font-size: 24px;
  font-weight: 700;
}

.textDiv p {
  font-size: 18px;
  font-weight: 400;
}

.textDiv span {
  font-size: 14px;
  font-weight: 400px;
  width: 457px;
  line-height: 27px;
}

.rightDiv {
  box-shadow: 0px 4px 11px #00000040; 
  /* width: 70%; */
  height: 450px;
  margin-top: 220px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  
  background-color: white;

}


.bookList {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.bookBtn {
  cursor: pointer;
}

/* RESPONSIVE */

@media (max-width: 768px) {
  .mainSection {
    width: 90%;
    flex-direction: column;
    
  }

  .leftDiv,
  .rightDiv {
    width: 100%;
    background-color: #fffaf6;
  }

  .leftDiv h1 {
    font-size: 28px;
    text-align: center;
    font-weight: bold;
  }

  .leftDiv input,
  .leftDiv button {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .bookImg {
    width: 100%;
    margin-top: 80%;
   

    padding-left: 0;
  }

  
  .textDiv h2 {
    font-size: 20px;
    text-align: center;
  }

  .textDiv p,
  .textDiv span {
    text-align: center;
    width: 100%;
  }

  .rightDiv {
    margin-top: 20px;
    width: 100%;
    box-shadow: none;
  }

  .bookList {
    flex-direction: column;
    padding-top: 20px;
  }

  .bookBtn {
    display: none;
  }

  .bookBtnRight {
    display: none;
  }

  .bookBtnLeft {
    display: none;
  }

  /*& FOOTER  */

  .socialMedia{
    margin-top: 70%;
  }

  .socialMediaIcons img{
    width: 10%;
  }

  .footerBrand img{
    width: 40%;
   margin-left: auto;
   margin-right: auto;
  }
}
 